#Prof_Exp {
  padding-top:2em;
}

.h3, h3 {
  padding-bottom:1em;
}

#edu {
  padding-top:2em;
}
.prj_img{
  max-width: 70%;
}
.project {
  border: 1px solid #000;
  padding: 10px;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
}

.project-grid .project {
  width: 33%;
  border: 1px solid #000;
  padding: 10px;
}

/* List view */
.project-list .project {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
}
.liogr{
  max-width: 10%;
}